body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    padding: 40px;
    margin: 0px;
    color: white;
    list-style: none;
}